[Unit]
Description=armada-stats
Wants=armada.service


[Service]
User=armada-stats
Group=armada-stats
Type=simple

ExecStartPre=/usr/local/bin/armada info
ExecStart=/usr/local/bin/armada-stats --config /etc/armada-stats/armada-stats.yml
TimeoutStopSec=5
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target